* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: antiquewhite;
  height: 100%;
}

input {
  margin: 2px;
}

.all-container,
html,
body {
  height: 100%;
  margin: 0;
}

.all-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  background-color: brown;
  color: antiquewhite;
  height: 80px;
  margin: 7px 7px 0 7px;
  align-items: center;
  padding: 20px;
}

.book-container {
  background-color: rgb(184, 87, 87);
  flex-grow: 1;
  margin: 7px 7px 7px 7px;
  padding-bottom: 7px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
}

.book {
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* min-height: 400px;
  min-width: 400px; */
  background-color: lightgray;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: monospace;
  padding: 3px 3px 3px 3px;
  border: black 2px solid;
}

/* .hidden {
  display: none;
} */

#popUp {
  display: none;
  margin-top: 7px;
  margin-left: 7px;
  font-family: monospace;
}

.closeBook {
  height: 70px;
  width: 140px;
  background-color: red;
  border-radius: 10px;
  font-size: 20px;
  font-family: monospace;
}

.add-button {
  height: 50px;
  width: 50px;
  font-size: 30px;
  margin-left: 30px;
  border-radius: 50%;
  box-shadow: 3px -1px 3px;
}

.readButton {
  background-color: green;
}

.notReadButton {
  background-color: salmon;
}

.readButton,
.notReadButton {
  height: 70px;
  width: 140px;
  font-size: 20px;
  font-family: monospace;
  border-radius: 10px;
  margin-bottom: 4px;
}
